<#macro concept_lifecycle concept>
<#--    <#if concept.lifecycle.description?has_content>-->
<#--        <#switch concept.lifecycle.type.label>-->
<#--            <#case "planned">-->
<#--                FA5_ROAD(${concept.lifecycle.key}, "${concept.lifecycle.type.label}\n\n<size:DESC_FONT_SIZE>${concept.lifecycle.description?replace('"','')?replace('\n',' ')}</size>") #white-->
<#--                <#break>-->
<#--            <#case "active">-->
<#--                FA5_CHECK(${concept.lifecycle.key}, "${concept.lifecycle.type.label}\n\n<size:DESC_FONT_SIZE>${concept.lifecycle.description?replace('"','')?replace('\n',' ')}</size>") #white-->
<#--                <#break>-->
<#--            <#case "phaseout">-->
<#--                FA5_BAN(${concept.lifecycle.key}, "${concept.lifecycle.type.label}\n\n<size:DESC_FONT_SIZE>${concept.lifecycle.description?replace('"','')?replace('\n',' ')}</size>") #white-->
<#--                <#break>-->
<#--            <#case "decommissioned">-->
<#--                FA5_SKULL(${concept.lifecycle.key}, "${concept.lifecycle.type.label}\n\n<size:DESC_FONT_SIZE>${concept.lifecycle.description?replace('"','')?replace('\n',' ')}</size>") #white-->
<#--                <#break>-->
<#--            <#default>-->
<#--                FA5_QUESTION(${concept.lifecycle.key}, "${concept.lifecycle.type.label}\n\n<size:DESC_FONT_SIZE>${concept.lifecycle.description?replace('"','')?replace('\n',' ')}</size>") #white-->
<#--        </#switch>-->

<#--        ${concept.lifecycle.key} &ndash;&gt; ${concept.key}-->
<#--    </#if>-->

</#macro>