<#macro concept_swot concept>
<#--    <#list concept.swots as swot>-->
<#--        <#switch swot.type.label>-->
<#--            <#case "strength">-->
<#--                FA_CHAIN(${swot.key}, "${swot.type.label}\n\n<size:DESC_FONT_SIZE>${swot.description?replace('"','')?replace('\n',' ')}</size>") #white-->
<#--                <#break>-->
<#--            <#case "weakness">-->
<#--                FA_CHAIN_BROKEN(${swot.key}, "${swot.type.label}\n\n<size:DESC_FONT_SIZE>${swot.description?replace('"','')?replace('\n',' ')}</size>") #white-->
<#--                <#break>-->
<#--            <#case "opportunity">-->
<#--                FA_LIGHTBULB_O(${swot.key}, "${swot.type.label}\n\n<size:DESC_FONT_SIZE>${swot.description?replace('"','')?replace('\n',' ')}</size>") #white-->
<#--                <#break>-->
<#--            <#case "threat">-->
<#--                FA_BOMB(${swot.key}, "${swot.type.label}\n\n<size:DESC_FONT_SIZE>${swot.description?replace('"','')?replace('\n',' ')}</size>") #white-->
<#--                <#break>-->
<#--            <#default>-->
<#--                FA5_QUESTION(${swot.key}, "${swot.type.label}\n\n<size:DESC_FONT_SIZE>${swot.description?replace('"','')?replace('\n',' ')}</size>") #white-->
<#--        </#switch>-->

<#--        ${swot.key} -- ${concept.key}-->
<#--    </#list>-->

</#macro>